<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tigerobo.x.pai.dal.admin.mapper.BlogAdminQueryMapper">

    <sql id="condition_query">
        <if test="req.getId!=null and req.id>0">
            and b.id = #{req.id}
        </if>
        <if test="req.userId!=null and req.userId>0">
            and b.user_id = #{req.userId}
        </if>

        <if test="req.startPublishTime !=null">
            and b.publish_time &gt;= #{req.startPublishTime}
        </if>
        <if test="req.endPublishTime !=null">
            and b.publish_time &lt;= #{req.endPublishTime}
        </if>
        <if test="req.siteId !=null and req.siteId>0">
            and b.site_id = #{req.siteId}
        </if>
        <if test="req.bigShotId !=null ">
            and b.big_shot_id = #{req.bigShotId}
        </if>
        <if test="req.sourceFrom !=null ">
            and b.source_from = #{req.sourceFrom}
        </if>
        <if test="req.vip !=null">
            and b.vip = #{req.vip}
        </if>
        <if test="req.onlineStatus !=null">
            and b.online_status = #{req.onlineStatus}
        </if>
        <if test="req.isDeleted !=null">
            and b.is_deleted = #{req.isDeleted}
        </if>
        <if test="req.categoryId!=null and req.categoryId>0">
            and b.category_id = #{req.categoryId}

        </if>
        <if test="req.recommend!=null ">
            and b.recommend = #{req.recommend}

        </if>
        <if test="req.tagType!=null ">
            and b.tag_type = #{req.tagType}

        </if>



        <if test="req.keyword!=null and req.keyword.length>0">
            and (
            b.title like concat('%',#{req.keyword},'%')
            or b.translate_title like concat('%',#{req.keyword},'%')
            or b.source_name like concat('%',#{req.keyword},'%')
            or b.author_name like concat('%',#{req.keyword},'%')
            )
        </if>
    </sql>


    <select id="query" parameterType="map" resultType="java.lang.Integer">

        select b.id from blog_search b
        <if test="req.categoryId!=null and req.categoryId>0">
            left join blog_category_rel r on r.blog_id = b.id
        </if>
        <where>
            <include refid="condition_query"/>
        </where>
        order by b.id desc
    </select>


</mapper>