<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tigerobo.x.pai.dal.biz.mapper.pub.SiteQueryMapper">
    <select id="getBigShotPage" parameterType="map" resultType="java.lang.Integer">
        select id
        from pub_big_shot
        <where>

            is_deleted = 0
            <if test="req.keyword!=null and req.keyword!=''">
               and  (
                name like concat('%',#{req.keyword},'%')
                or alias like concat('%',#{req.keyword},'%')
                )

            </if>
            <if test="req.vip!=null">
                and vip = #{req.vip}
            </if>
        </where>
        order by score desc
    </select>

    <select id="getSitePage" parameterType="map" resultType="java.lang.Integer">
        select id
        from pub_site
        <where>
            is_deleted = 0
            <if test="req.keyword!=null and req.keyword!=''">
                and (
                name like concat('%',#{req.keyword},'%')
                )
            </if>
        </where>
        order by score desc
    </select>

    <select id="getBloggerUserIdPage" parameterType="map" resultType="java.lang.Integer">
        select user_id
        from blogger b left join `xpai-auth-user` u on b.user_id = u.id
        <where>
            b.is_deleted = 0
            and u.is_deleted = 0
            <if test="req.keyword!=null and req.keyword!=''">
                and (
                u.name like concat('%',#{req.keyword},'%')
                )
            </if>
        </where>
        order by score desc
    </select>
</mapper>