<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tigerobo.x.pai.dal.biz.mapper.DemandQueryMapper">


    <sql id="tbl_demand">`xpai-biz-demand`</sql>
    <sql id="tbl_entity_tag">`xpai-biz-entity-tag`</sql>

    <sql id="qu_domain">
        <if test="query.params!=null and query.params.domain !=null and query.params.domain.size()>0">
            and id in
            (select entity_id from <include refid="tbl_entity_tag"/>
            where
            entity_type = 2010
            and tag_type = 102
            and tag_uid in
            <foreach collection="query.params.domain" item = "domainItem" index="index" open="(" close=")" separator=",">
                #{domainItem}
            </foreach>
            and is_deleted = 0
            )
        </if>
    </sql>
    <sql id="qu_industry">
        <if test="query.params!=null and query.params.industry !=null and query.params.industry.size()>0">
            and id in
            (select entity_id from <include refid="tbl_entity_tag"/>
            where
            entity_type = 2010
            and tag_type = 101
            and tag_uid in
            <foreach collection="query.params.industry" item = "industryItem" index="index" open="(" close=")" separator=",">
                #{industryItem}
            </foreach>
            and is_deleted = 0
            )
        </if>
    </sql>

    <sql id="qu_keyword">
        <if test="query.params!=null and query.params.keyword !=null and query.params.keyword !='' ">
            and
            (
            name like concat('%',#{query.params.keyword},'%')
            or  `desc` like concat('%',#{query.params.keyword},'%')
            <if test="groupUuids!=null and groupUuids.size()>0">
                or
                group_uuid in
                <foreach collection="groupUuids" separator="," open="(" close=")" index="index" item="groupUuid">
                    #{groupUuid}
                </foreach>

            </if>
            <if test="creators !=null and creators.size()>0">
                or
                create_by in
                <foreach collection="creators" separator="," open="(" close=")" index="index" item="creator">
                    #{creator}
                </foreach>
            </if>
            )

        </if>
    </sql>


    <sql id="qu_status">
        <if test="query.params!=null and query.params.phaseList !=null and query.params.phaseList.size()>0">
            and `phase` in
            <foreach collection="query.params.phaseList" item = "phase" index="index" open="(" close=")" separator=",">
                #{phase}
            </foreach>
        </if>
    </sql>

    <sql id="qu_scope">
        and
        (
        scope in
        <foreach collection="query.params.scopeList" item = "scope" index="index" open="(" close=")" separator=",">
            #{scope}
        </foreach>
        <if test="userId!=null and userId !=''">
            or create_by = #{userId}
        </if>
        )
    </sql>
    <sql id ="query_where">
        <where>
            <include refid="qu_domain"/>
            <include refid="qu_industry"/>
            <include refid="qu_status"/>
            <include refid="qu_scope"/>
            <include refid="qu_keyword"/>
            and is_deleted=0
        </where>
    </sql>
    <select id="getDemandIdList" parameterType="map" resultType="java.lang.Integer">
        select id from
        <include refid="tbl_demand"/>
        <include refid="query_where"/>
        <if test="query.orderBy!=null and query.orderBy != '' ">
            order by ${query.orderBy}
        </if>
        <if test="query.orderBy==null or query.orderBy == '' ">
            order by id desc
        </if>
        <!--    ${orderBy}-->
    </select>

    <select id="countUserViewDemand" parameterType="map" resultType="java.lang.Integer">
        select count(1) from
        <include refid="tbl_demand"/>
        <where>
            <include refid="qu_scope"/>
        </where>

        and is_deleted=0
    </select>
</mapper>