<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tigerobo.x.pai.dal.admin.mapper.UserCommitSiteAdminMapper">
    <sql id="condition_query">
        <if test="req.id!=null and req.id>0">
            and b.id = #{req.id}
        </if>
        <if test="req.userId!=null ">
            and b.user_id = #{req.userId}
        </if>
        <if test="req.startCreateTime !=null">
            and b.create_time &gt;= #{req.startCreateTime}
        </if>
        <if test="req.endCreateTime !=null">
            and b.create_time &lt;=  #{req.endCreateTime}
        </if>
        <if test="req.startUpdateTime !=null">
            and b.update_time &gt;= #{req.startUpdateTime}
        </if>
        <if test="req.endUpdateTime !=null">
            and b.update_time  &lt;=  #{req.endUpdateTime}
        </if>
        <if test="req.status !=null">
            and b.status = #{req.status}
        </if>
        <if test="req.mediaType!=null">
            and b.media_type=#{req.mediaType}
        </if>
        <if test="req.mediaId!=null">
            and b.media_id=#{req.mediaId}
        </if>
        <if test="req.isDeleted!=null">
            and b.is_deleted=#{req.isDeleted}
        </if>
    </sql>


    <select id="query" parameterType="map" resultType="java.lang.Integer">

        select b.id from user_commit_site b
        <where>
            <if test="req.keyword!=null and req.keyword!=''">
                and  (
                b.name like concat('%',#{req.keyword},'%')
                or b.memo like concat('%',#{req.keyword},'%')
                )
            </if>
            <include refid="condition_query"/>
        </where>
        order by b.id desc
    </select>

</mapper>