<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tigerobo.x.pai.dal.ai.mapper.ArtImageQueryMapper">
    <update id="incrThumb">
        update ai_art_image set thumb_num = thumb_num+1 where id =#{id}
    </update>
    <update id="decrThumb">
        update ai_art_image set thumb_num = thumb_num-1 where id =#{id} and thumb_num &gt; 0
    </update>

    <select id="queryNew" parameterType="map" resultType="java.lang.Integer">
        select ai.id from ai_art_image ai
        <if test="req.keyword!=null and req.keyword.length>0">
            left join `xpai-auth-user` u
            on ai.user_id = u.id
        </if>
        <where>
            <if test="req.userIds!=null and req.userIds.size()>0">
                and ai.user_id in
                <foreach collection="req.userIds" index="index" item="uid" open="(" close=")" separator=",">
                    #{uid}
                </foreach>
            </if>
            <if test="req.startCreateTime!=null">
                and ai.create_time &gt;= #{req.startCreateTime}
            </if>
             and ai.status=1 and ai.is_deleted = 0

            <if test="req.styleTypeId!=null and req.styleTypeId>0">
                and ai.style_type = #{req.styleTypeId}
            </if>
            <if test="req.modifier!=null and req.modifier!=''">
                and ai.modifiers like concat('%"',#{req.modifier},'"%')
            </if>
            <if test="req.keyword!=null and req.keyword.length>0">
                and
                (ai.title like concat('%',#{req.keyword},'%') or u.name like concat('%',#{req.keyword},'%'))
            </if>
        </where>
        order by ${orderSort}
    </select>

    <select id="queryAiInteract" parameterType="map" resultType="java.lang.Integer">
        select ai.id from ai_user_interact ai left join `xpai-auth-user` u on ai.user_id = u.id
        <where>
            ai.status=1
            and ai.is_deleted = 0
            <if test="bizTypes!=null and bizTypes.size()>0">
                and biz_type in
                <foreach collection="bieTypes" item="bizType" index="index" open="(" close=")" separator=",">
                    #{bizType}
                </foreach>
            </if>
            and (
            ai.title like concat('%',#{req.keyword},'%')
            or u.name like concat(#{req.keyword},'%')
            )
        </where>
        order by ai.publish_time desc
    </select>
</mapper>